* {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 250px);
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

}
.detalhes{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    width: 100%;
    max-width: 77rem;
    padding: 2rem 1rem;
}
.detalhes2{
    font-size: 0.875rem;
    line-height: 2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(222, 224, 228);
    color: rgb(86, 92, 105);
}
.esta{
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 700;
}
.sub{
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    margin-left: 0.25rem;
    line-height: inherit;
}
.codigo{
    line-height: 2rem;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: inherit;
    color: rgb(255, 0, 0);
    margin-left: 0.25rem;
}
.produto2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 700;
    color: rgb(66, 70, 77);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.detailsProduct{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

}
.detailsproduct2{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.ProductImg{
    position: relative;
    display: flex;
    width: 100%;
    height: 26.5rem;
}
.productimgprincipal{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0.5rem;
    padding: 0.5rem;
}
.figura{
    margin: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.pcgamer{
    object-fit: contain;
    object-position: center center;
    width: 300px;
    margin-top: 2rem;

}
.preçoProduto{
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.blocovalores{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 4.1875rem;
}
.vendidoeentregue{
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: rgb(66, 70, 77);
    margin-bottom: 0.5rem;
}
.vendidoeentregue b{
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 700;
}
.verde{
    color: rgb(31, 144, 80);
}
.preçoEdetalhes{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2rem;
}
.valor{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 0%;
}
.vazio{
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: rgb(127, 133, 141);
    text-decoration: line-through;
}
.preçoEspecifico{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 0, 0);
}
.PIX{
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgb(86, 92, 105);
}
.botaoComprar5{
    background-color: rgb(255, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 248px;
    height: 48px;
    width: 100%;
    margin: 0px auto;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
    padding: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    border-radius: 0.25rem;
    cursor: pointer;
}
.parcelamento{
    margin-top: 0.75rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 0%;
}
.parcelamento span{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(86, 92, 105);
}
.parcelamento b{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(86, 92, 105);
}
.opcoes{
    font-size: 0.875rem;
    line-height: 1.5rem;
    display: flex;
    margin-top: 0.5rem;
    margin-left: 0.0625rem;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: rgb(86, 92, 105);
    cursor: pointer;
}
.espacoMeio{
    width: 100%;
    height: 1rem;
    background-color: rgb(250, 250, 251);
}
.descicaoProduto10{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    width: 100%;
    max-width: 77rem;
    padding: 2rem 1rem;
}
.frameConteiner{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.conteinerFrameFilho{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    width: 100%;
    margin: 0rem;
}
.details{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0rem;
    cursor: pointer;
}
.descriptionProduct{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    flex: 1 1 0%;
    color: rgb(66, 70, 77);
    text-transform: none;
    padding-left: 1rem;
    user-select: none;
}