<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de produto
</title>
</head>
<body>

    <section>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <td>Nome</td>
                    <td>preco</td>
                    <td>estoque</td>
                    <td>acoes</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>celular</td>
                    <td>1200</td>
                    <td>5</td>
                    <td>
                        <form action="" method="get">
                            <button type="submit">+</button>
                        </form>
                        <form action="" method="get">
                            <button type="submit">-</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>notbook</td>
                    <td>2900</td>
                    <td>3</td>
                    <td>
                        <form action="" method="get">
                            <button type="submit">+</button>
                        </form>
                        <form action="" method="get">
                            <button type="submit">-</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>tablet</td>
                    <td>300</td>
                    <td>10</td>
                    <td>
                        <form action="" method="get">
                            <button type="submit">+</button>
                        </form>
                        <form action="" method="get">
                            <button type="submit">-</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    
</body>
</html>