<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="/style/categorias.css">
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <!--add swiper-->

    <link
        rel="stylesheet"
        href="https://unpkg.com/swiper/swiper-bundle.min.css"
      />

    <title>Categorias</title>
</head>
<body>
        <%- include('../components/header.ejs') %>
    
    <main>
            <!--Filter-->
            <%- include('../components/filter.ejs')  %> 

            <!--caixa de produtos-->
            <div class="produtos">
                <div class="produto">
                    <img src="/img/Computador.jpg" alt="" id="imagem-produto">
                    <div class="informacoes">
                    <h2>Infos importantes sobre o produto</h2>
                    </div>                    
                    <div class="disponivel">
                    <h3>DISPONÍVEL</h3>
                    <h4>Compre agora</h4>
                    </div>
                    <img src="" alt="" id="estrelas">
                    <div class="precosMobile">
                    <h1>R$ 2412,00</h1>
                    </div>
                    <div class="jurosMobile">
                    <h5>Em ate 12x sem juros</h5>
                    </div>
                    <div class="precos">
                    <h6>De:R$ 2.850,00</h6>
                    <h5>Por:R$ 2.412,00</h5>
                    <p>Em até 12x no cartão</p>
                    <h3>R$2.000,00</h3>
                    <p=AVISTA id="avista">A VISTA</p>
                    </div>
                </div>
                <div class="produto">
                    <img src="/img/Processador.jpg" alt="" id="imagem-produto">
                    <div class="informacoes"><h2>Infos importantes sobre o produto</h2>
                    </div>
                    <div class="disponivel">
                    <h3>DISPONÍVEL</h3>
                    <h4>Compre agora</h4>
                    </div>
                    <img src="" alt="" id="estrelas">
                    <div class="precosMobile">
                    <h1>R$ 2412,00</h1>
                    </div>
                    <div class="jurosMobile">
                    <h5>Em ate 12x sem juros</h5>
                    </div>
                    <div class="precos">
                    <h6>De:R$ 2.850,00</h6>
                    <h5>Por:R$ 2.412,00</h5>
                    <p>Em até 12x no cartão</p>
                    <h3>R$2.000,00</h3>
                    <p=AVISTA id="avista">A VISTA</p>
                    </div>    
                </div>
                <div class="produto">
                    <img src="/img/Ps5.jpg" alt="" id="imagem-produto">
                    <div class="informacoes"><h2>Infos importantes sobre o produto</h2>
                    </div>                       
                    <div class="disponivel">
                    <h3>DISPONÍVEL</h3>
                    <h4>Compre agora</h4>
                    </div>
                    <img src="" alt="" id="estrelas">
                    <div class="precosMobile">
                    <h1>R$ 2412,00</h1>
                    </div>
                    <div class="jurosMobile">
                    <h5>Em ate 12x sem juros</h5>
                    </div>
                    <div class="precos">
                    <h6>De:R$ 2.850,00</h6>
                    <h5>Por:R$ 2.412,00</h5>
                    <p>Em até 12x no cartão</p>
                    <h3>R$2.000,00</h3>
                    <p=AVISTA id="avista">A VISTA</p>
                    </div>    
                </div>
                <div class="produto">
                    <img src="/img/3570943300_1.jpg" alt="" id="imagem-produto">
                    <div class="informacoes"><h2>Infos importantes sobre o produto</h2>
                    </div>
                    <div class="disponivel">
                    <h3>DISPONÍVEL</h3>
                    <h4>Compre agora</h4>
                    </div>
                    <img src="" alt="" id="estrelas">
                    <div class="precosMobile">
                    <h1>R$ 2412,00</h1>
                    </div>
                    <div class="jurosMobile">
                    <h5>Em ate 12x sem juros</h5>
                    </div>
                    <div class="precos">
                    <h6>De:R$ 2.850,00</h6>
                    <h5>Por:R$ 2.412,00</h5>
                    <p>Em até 12x no cartão</p>
                    <h3>R$2.000,00</h3>
                    <p=AVISTA id="avista">A VISTA</p>
                    </div>    
                </div>
             
            </div>

        </div>

    </main>

    <%- include('../components/footer.ejs')  %> 
    
</body>
</html>