<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/finalizar-pedido.css">
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">
    
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet"/>
    <title>Finalizar-Pedido</title>

</head>
<body>
    <%- include('../components/header.ejs') %>
    <main>
        <div class="main">
            <h5 class="titulo">Envio</h5>
            <div class="campo">Pac</div>
            <h5 class="titulo">Forma de Pagamento</h5>
            <div class="campo">Cartao de crédito</div>
            <div class="campo">Boleto bancario</div>
            <div class="campo">Pix</div>

        <a class="fazer-pedido" href="#">Fazer Pedido</a>
        </div> 
    </main>
    <%- include('../components/footer.ejs')  %> 
</body>
</html>