<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">
    <title>Cadastro de Produtos</title>
</head>

<body>
        <%-include('../components/header') %> 

<main>

    
   
    <form style="display: flex; flex-direction: column; align-items: center; margin: 20px;" action="/produtosCadastro" method="POST">
        <label for="nome">nome</label>
        <br>
        <input class="border-2 border-green-400" type="text" id="nome" name="nome" >
        <br>
        <label for="preco">Preco</label>
        <input  type="text" name="preco" />
        <br>
        <label for="imagem">Imagem</label>
        <input  type="text" name="imagem" />
        <br>
        <label for="descricao">Descrição</label>
        <input  type="text" name="descricao" />
        <br>
        <label for="id_fabricante" >fabricante</label>
        <input type="text" name="id_fabricante" />
        <br>
        <label for="quantidade">Quantidade</label>
        <input  type="text" name="quantidade"/>
        <br>
        <label for="ativo">ativo</label>
        <input  type="text"  name="ativo"/>
        <br>

        <button type="submit">Cadastrar</button>
      </form>
</main>

        <%- include('../components/footer.ejs')  %> 

</body>

</html>