<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Detalhe do Produto</title>
        <link rel="stylesheet" href="/style/detalhes.css">
        <link rel="stylesheet" href="/style/headerGlobal.css">
        <link rel="stylesheet" href="/style/categorias.css">
        <link rel="stylesheet" href="/style/home.css">


        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
              rel="stylesheet"
    />
    </head>

    <body>
        <header>
            <%- include('../components/header.ejs') %>
           
        </header>
        <main>
            <article>
                <section>
                    <div class="detalhes">
                        <div class="detalhes2">
                            <span class="esta">Voce esta em / </span>
                            <a href="" class="sub"> Computador Gamer / </a>
                            <a href="" class="sub"> Computador / </a>
                            <a href="" class="sub"> AMD / </a>
                            <a href="" class="sub"> AMD Ryzen 3600 / </a>
                            <span class="codigo"> Código:</span>
                        </div>
                        <h1 class="produto2">Computador Gamer AMD Ryzen 3600 16gb de RAM RXT 2060 4GB</h1>
                        <div class="detailsProduct">
                                <div class="ProductImg">
                                    <div class="productimgprincipal">
                                        <figure class="figura">
                                            <img src="/img/pc01.jpg" alt="" class="pcgamer">
                                        </figure>
                                    </div>
                                </div>
                                <div class="preçoProduto">
                                    <div class="blocovalores">
                                        <div class="vendidoeentregue">
                                            Vendido e entregue por:
                                            <b>
                                                DevGamer
                                                <!---->
                                            </b>
                                                |
                                            <b class="verde">Em estoque</b>    
                                        </div>
                                        <div class="preçoEdetalhes">
                                            <div class="valor">
                                                <span class="vazio"></span>
                                                <h4 class="preçoEspecifico">R$ 2.700,00</h4>
                                                <span class="PIX">
                                                    A vista no PIX
                                                    <span>com até
                                                        <b>5
                                                            <!---->
                                                            % OFF
                                                        </b>
                                                    </span>
                                                </span>
                                            </div>
                                            <button class="botaoComprar5"> COMPRAR 
                                                <!-- -->
                                            </button>
                                        </div>
                                        <div class="parcelamento">
                                            <span>
                                                Em até
                                                <!-- -->
                                                12
                                                <!---->
                                                x de 
                                                <b> R$225,00 </b>
                                                sem juros no cartão
                                            </span>
                                            <button class="opcoes">Ver mais opções de pagamento</button>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                        </div>
                    </div>
                    <div class="espacoMeio"></div>
                    <div class="descicaoProduto10">
                        <section class="frameConteiner">
                            <div class="conteinerFrameFilho">
                                <div class="details">
                                    <h2 class="descriptionProduct">DESCRIÇÃO DO PRODUTO</h2>
                                </div>
                            </div>
                        </section>
                    </div>    
                </section>
            </article>
            
        </main>

    </body>
</html>

