<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A pensar</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
      rel="stylesheet"/>

    <link
      rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">
  </head>

  <body>

      <%- include('../components/header')  %> 

    <main>

    <div class="homePrincipal">
      <source media="(max-width: 670px)" srcset="img/pchome.jpg">
      <img src="/img/pchome.jpg">
    </div>

    
    <div class="homeInferior">
      
      <img src="/img/Computador.jpg">
      <h2 class="descricao">Destaque do Mês</h2>
      <h3 class="descricao">Computador Gamer</h3>
      <p class="descricao">Preço a vista R$2600,00</p>
    </div>

    </main>



  

    

  </body>
</html>
