<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">
    <title>Cadastro de Produtos</title>
</head>

<body>
        <%-include('../components/header') %>

<main>

    <a class="button-create" href="/admin/cadastro-produto">Cadastrar Novo Produto</a>
   
    <form action="/salvar-produto" enctype="multipart/form-data" method="POST">
        <label>Nome do produto</label>
        <input type="text" name="nome" />
        <label>Descrição do produto</label>
        <input type="text" name="descricao" />
        <label>Link da Imagem do produto</label>
        <input type="file" name="imagem" />
        <button type="submit">Finalizar o cadastro</button>
      </form>
</main>

        <%- include('../components/footer.ejs')  %> 

</body>

</html>