<footer class="fotter-pai">
   
    <div class="atendimentoUm">
        <h2>Em Caso de Dúvida Fale Conosco</h2>
      
        <form class="formNewsLatter">
        <input type="text" name="name" placeholder="Digite Seu Nome">
        <input type="email" name="email" placeholder="Digite seu E-mail">
        <button type="submit" class="enviar">ENVIAR</button>
        </form>
       
    </div>

    <div class="desenvolvido">
    <p>Site desenvolvido por: 
        <span class="detail">Bruna Martins, Gabriel Renovato, Jeferson Ferreira, Jonatan Ivanhoé e Leandro Cavalcante
        </span>
    </p>
    </div>

</footer>