<header >
  <div class="headerpai">
  <div class="logo">
      <span>D</span>ev<span>Game</span>
    </div>
    <div class="menumobile">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/promocao">Promoções</a></li>
        <li><a href="/categorias">Produtos</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="/login-cadastro#paralogin">Login</a></li>
        
      </ul>
    </div>


    <div class="icon-car">
      <img
        class="icon"
        src="/img/icon-car.png"
        alt="Carrinho de Compra"
      />
  </div>
  </div>
  </header>